.tables {
    background-color: red;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.table {
 background-color: green;
 border: 1px solid black;
 width: 25%;
 height: 50px;
 box-sizing: border-box;
 cursor: pointer;
}

.table.active {
    background-color: red;
}

.table:hover {
    background-color: red;
}

.hide {
    display: none;
}
