.App {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.width-auto {
    width: auto !important;
}

.background-theme-blue {
    background-color: #c9f8f8 !important;
}

.background-theme-blue-2 {
    background-color: #4ea7b0 !important;
}

.background-theme-hr {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    background-color: white;
    border: 2px solid #000;
    box-shadow: 0 0 black;
    padding: 20px;
}

.auth-text-box {
    width: 300px;
}
